

<main>
  <div class="index-container">
    <h1>Any questions or suggestions ?</h1>
    <h2>Do not hesitate to contact us !</h2>
    <ul>
      <li>Nonsense Corp.</li>
      <li>Madeuplane 12</li>
      <li>12345 MadeupTown</li>
    </ul>
  </div>
</main>