


<main>
  <div class="index-container">
    <h1>Welcome to random Beer generator !</h1>
    <h2>Click the buttons below to either get a random beer or to have a look at all available beers.</h2>
    <img src="/images/beer.png">
    <a href="/beers">Beers !</a>
    <a href="/randombeer">Random Beer !</a>
  </div>
</main>
