

<main class="main-random">
  <div class="index-container-random">
    <h1>Get a random Beer !</h1>
    {{#each beers}}
      {{>randBeerPartial}}
    {{/each}}
    <a href="/randombeer">Random Beer !</a>
  </div>
</main>